@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: url('./bg-dark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
}

header img {
    width: 50px;
    height: 50px;
}

.container {
    padding: 5px;
}

.separator {
    width: 100%;
    height: 1px;
    border: 2px solid hsl(0, 0%, 22%);
    margin: 16px 0;
}

/*model-viewer {
    width: 39%;
    height: 600px;
    float: left;
    background-color: rgb(23, 22, 22);
    border: 2px solid white;
    border-radius: 10px;
}*/
.content {
    float: left;
    width: 50%;
    /*color: white;
    background-color: rgb(23, 22, 22);
    border: 2px solid white;
    border-radius: 10px;*/
}

model-viewer {
    height: 500px;
    width: 50%;
}

.content p {
    width: 100%;
    font-size: 80px;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 1201px) {
    .content p {
        font-size: 80px;
    }
}

@media screen and (max-width: 1200px) {
    .content p {
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 50%;
    }
}

@media screen and (min-width: 1201px) {
    .content {
        width: 50%;
    }
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: #ffffff;
    color: black;
}

.info {
    border: 2px solid white;
    float: left;
    border-radius: 15px;
}

.contact {
    border: 2px solid white;
    float: left;
    border-radius: 15px;
}

.contact-info {
    padding: 20px;
    color: white;
    text-align: left;
}

iframe {
    border: 2px solid black;
    border-radius: 15px;
}

.h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.form
{
    text-align: center;
}

.h3 {
    color: white;
    text-align: center;
    font-size: 30px;
}

.form input
{
    width: 60%;
    font-size: 16px;
    color: white;
    padding: 13px;
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(50, 47, 47);
}
.form button
{
    width: 20%;
    color: black;
    font-size: 16px;
    font-weight: 900;
    border-radius: 15px;
    padding: 13px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}


@media screen and (min-width: 1250px) {
    .info {
        margin-right: 13px;
        width: 35%;
    }

    .contact-link {
        font-size: 18px;
    }

    .fa-envelope {
        font-size: 30px;
    }

    .fa-phone {
        font-size: 30px;
    }

    .fa-calendar {
        font-size: 30px;
    }

    .fa-map-marker {
        font-size: 30px;
    }

    .contact {
        width: 64%;
    }

    .media {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1251px) {
    .info {
        width: 100%;
    }

    .contact {
        margin-top: 10px;
        width: 100%;
    }

    .contact-link {
        font-size: 25px;
    }

    .fa-envelope {
        font-size: 40px;
    }

    .fa-phone {
        font-size: 40px;
    }

    .fa-calendar {
        font-size: 40px;
    }

    .fa-map-marker {
        font-size: 40px;
    }

    .media {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .contact-link {
        padding: 5px;
        font-size: 15px;
        text-align: justify;
    }

    .fa-envelope {
        font-size: 20px;
    }

    .fa-phone {
        font-size: 20px;
    }

    .fa-calendar {
        font-size: 20px;
    }

    .fa-map-marker {
        font-size: 20px;
    }

    .media {
        align-items: center;
        text-align: center;
    }

    .h2 {
        font-size: 20px;
    }
}